body {
    box-sizing: border-box;
    margin: 0 10%;

    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    color: whitesmoke;
    font-family: "Source Code Pro";
    font-size: 16px;
    text-align: center;
}

h2,
h3 {
    font-family: Montserrat;
}

h2 {
    padding: 10% 0 5%;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: "Source Code Pro";
}

a:hover {
    text-decoration: none;
    color: white;
}

a {
    color: turquoise
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Navigation */
.nav {
    margin: 0;
}

.nav-item {
    padding: 0 15px;
}

.nav-item:hover {
    background-color: rgb(82, 95, 95);
    border-radius: 5%;
}

.navbar-brand {
    font-family: "MontSerrat";
}

/* About */
.subtitle {
    font-size: 1.5rem;
}

span {
    color: turquoise;
    font-weight: 600;
}

.profile-pic {
    max-width: 300px;
    border-radius: 100%;
    margin: 3%;
    align-items: center;
}



/* Projects */

.card {
    margin: 3%;
    text-align: center;
    flex-basis: auto;
    padding: 0.5rem;

}


.project-card:hover {
    background-image: none;
    
} 

.project-card {
    height: 280px;
    width: 250px;
    color: white;
    background-color: rgb(78,70,70);
    display: flex;
    justify-content: space-around;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

 .card-container {
    display: none;
} 

.project-card:hover .card-container {
    display: block;
}

.nomad {
    background-image: url(../images/nano.jpg);
    
}

.graubuenden {
    background-image: url(../images/sarthak-maji-dOA35bihSjk-unsplash.jpg);
}

.drums {
    background-image: url(../images/drumKit.jpg);
}

.fotomatic {
    background-image: url(../images/camera.jpg);
}

.yoga {
    background-image: url(../images/yoga.jpg);
    
}

.sbudkou {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),url(../images/sbudkou.jpg);
}

.project-links {
    display: inline-flex;
    justify-content: center;
    
}

.project-links a {
    padding: 10px;
}
 

/* Skills */
.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 150px;
    width: 150px;
    color: black;
    background-color: rgb(229, 243, 243);

    padding: 1rem;
    margin: 3%;
    border-radius: 100%;
}

/* Contact */

.btn:hover {
    background-color: turquoise;
    border: none;
    opacity: 1;
    transition-timing-function: ease-in;
    transition: 0.3s;
}

.btn {
    margin: 4%;
    padding: 5px 20px;
    border-radius: 5%;
    width: 80px;
    opacity: 0.8;
}

/* Footer */
footer {
    padding: 5% 8%;
    padding: 5%;
    text-align: center;
}

/* Media query */
@media only screen and (max-width: 375px) {
    .profile-pic {
        max-width: 250px;
    }
  
}

